.video_container {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

.video_input,
.video_output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_input {
    z-index: 1;
}

.video_output {
    z-index: 2;
}